form
    width: 100%
    .content-fields
        width: 100%
        max-width: 568px
        margin: auto
    .input-field
        margin-bottom: spacing(loose)
    input, textarea
        width: 100%
        text-transform: uppercase
        color: color(neutral)
        outline: none
        border: solid 1px #707070
        font-size: 18px
        padding: spacing(tight) spacing(medium)
        +sm-screen
            font-size: 21px
            padding: spacing(tight) spacing(loose)
        +placeholder
            color: color(neutral)
    .submit
        text-align: center