$navbar-logo-font-size: to-rem(38px)
$navbar-logo-font-size-mobile: to-rem(30px)

$navbar-font-family: $font-family-highlight

$navbar-menu-spacing: spacing(loose)
$navbar-padding-vertical: spacing(loose)
$navbar-font-color: color(white)

$navbar-menu-font-size: to-rem(18px)
$navbar-menu-font-size-mobile: to-rem(14px)

nav
    padding-top: $navbar-padding-vertical
    padding-bottom: $navbar-padding-vertical
    position: fixed
    top: 0
    left: 0
    width: 100%
    z-index: 10
    +transition(all 600ms $transition-ease)
    &.fixed
        background: color(primary)
    #logo
        font-size: $navbar-logo-font-size-mobile
        text-transform: uppercase
        color: $navbar-font-color
        +lg-screen
            font-size: $navbar-logo-font-size
    .menu-button
        width: 35px
        height: 20px
        background: none
        border: none
        position: relative
        outline: none
        +md-screen
            display: none
        span
            position: absolute
            width: 100%
            height: 2px
            background: color(white)
            +transition(all 600ms $transition-ease)
            &:nth-child(1)
                top: 0
                left: 50%
                +transform(translateX(-50%))
            &:nth-child(2)
                top: 50%
                left: 50%
                +transform(translate(-50%, -50%))
            &:nth-child(3)
                bottom: 0
                left: 50%
                +transform(translateX(-50%))
        &.open
            span
                &:nth-child(2)
                    opacity: 0
                &:nth-child(1), &:nth-child(3)
                    left: 50%
                    top: 50%
                    bottom: inherit
                &:nth-child(1)
                    +transform(translate(-50%, -50%) rotate(45deg))
                &:nth-child(3)
                    +transform(translate(-50%, -50%) rotate(-45deg))
    .menu
        position: fixed
        padding: 0
        margin: 0
        width: 100vw
        height: 100vh
        left: 0
        top: 0
        background: color(primary)
        z-index: -1
        +transform(scale(1.1))
        opacity: 0
        display: none
        &.open
            +animation(menu-animation, $transition-duration, forwards, $transition-ease)
            display: block
        &.close
            display: block
            +animation(menu-close-animation, $transition-duration, forwards, $transition-ease)
        +md-screen
            display: block
            +transform(none)
            opacity: 1
            width: auto
            height: auto
            background: none
            position: relative
            z-index: 0
        ul
            list-style: none
            padding: 0
            margin: 0
            display: block
            position: absolute
            top: 50%
            left: 50%
            +transform(translate(-50%, -50%))
            width: 100%
            +md-screen
                display: flex
                position: relative
                +transform(none)
                top: inherit
                left: inherit
                width: auto
            li
                text-transform: uppercase
                font-family: $navbar-font-family
                font-weight: 700
                text-align: center
                padding: spacing()
                font-size: to-rem(22px)
                +md-screen
                    font-size: $navbar-menu-font-size-mobile
                    &:not(:first-child)
                        margin-left: $navbar-menu-spacing
                +lg-screen
                    font-size: $navbar-menu-font-size
                a
                    text-decoration: none
                    color: $navbar-font-color
+keyframes(menu-animation)
    to
        opacity: 1
        +transform(scale(1))
+keyframes(menu-close-animation)
    from
        opacity: 1
        +transform(scale(1))
    to
        opacity: 0
        +transform(scale(1.1))