section.testimonials
    padding: spacing(x-loose) 0
    +lg-screen
        padding: spacing(xx-loose) 0
    .section-title
        margin-top: 0
    .testimonials-carousel-container
        position: relative
        z-index: 0
        opacity: 0
        +transform(translateY(50%))
        &.animate
            +animation(section-title-animation, $transition-duration, forwards, $transition-ease)
        .testimonials-carousel-button
            padding: 0
            background: none
            border: none
            position: absolute
            top: 50%
            cursor: pointer
            outline: none
            z-index: 2
            &.nav-left
                +sm-screen
                    +transform(translateX(-150%))
                +lg-screen
                    +transform(translateX(-100%) translateY(0))
                left: 0
            &.nav-right
                +sm-screen
                    +transform(translateX(150%))
                +lg-screen
                    +transform(translateX(100%) translateY(0))
                right: 0
        .testimonial
            padding: 0 spacing(x-loose)
            +sm-screen
                padding: 0 spacing()
            +md-screen
                margin-top: spacing(loose)
            +lg-screen
                padding: 0 spacing(loose)
            +xl-screen
                padding: 0 spacing(x-loose)
            text-align: center
            .rating
                svg
                    fill: color(yellow)
            .testimonial-description
                margin: spacing(loose) auto spacing()
                width: 100%
                max-width: 406px
                line-height: 1.5
                +md-screen
                    font-size: 14px
                +lg-screen
                    font-size: $text-body-display