.about
    position: relative
    z-index: 0
    &:after
        content: ''
        position: absolute
        width: 100%
        height: 91.2%
        background: color(primary)
        left: 0
        bottom: 0
        z-index: -1
    .agent-image-col
        img
            display: block
            max-width: 100%
            opacity: 0
            &.animate
                +animation(section-title-animation, $transition-duration, forwards, $transition-ease)
    .info
        margin-top: spacing(loose)
        margin-bottom: spacing(loose)
        text-align: center
        +md-screen
            text-align: left
            margin-top: 0
            margin-bottom: spacing()
        +lg-screen
            margin-bottom: spacing(xx-loose)
        .info-heading
            margin-bottom: spacing()
            +md-screen
                margin-bottom: spacing(loose)
            &:after
                content: ''
                width: 76px
                height: 6px
                display: block
                background: color(white)
                margin: spacing() auto 0
                +md-screen
                    margin: spacing(loose) 0 0
            h2
                margin: 0
                font-weight: 400
                text-transform: uppercase
                color: color(white)
                font-size: 36px
                opacity: 0
                +transform(translateY(100%))
                &.animate
                    +animation(section-title-animation, $transition-duration, forwards, $transition-ease)
                +lg-screen
                    font-size: $text-display-large
            p
                margin: 0
                color: color(white)
                font-size: 18px
                opacity: 0
                +transform(translateY(100%))
                &.animate
                    +animation(section-title-animation, $transition-duration, forwards, $transition-ease, 500ms)
                +lg-screen
                    font-size: $text-display-tiny
        & > p
            color: color(white)
            line-height: 1.5
            margin-bottom: spacing(loose)
            font-size: $text-body
            opacity: 0
            +transform(translateY(50%))
            &.animate
                +animation(section-title-animation, $transition-duration, forwards, $transition-ease, 1000ms)
            +md-screen
                font-size: 14px
            +lg-screen
                font-size: $text-body-display
        .button
            opacity: 0
            &.animate
                +animation(section-title-animation, $transition-duration, forwards, $transition-ease, 1500ms)