$button-font-family: $font-family-highlight
.button
    display: inline-flex
    text-decoration: none
    font-family: $button-font-family
    border: solid 2px color(neutral)
    color: color(neutral)
    font-weight: 500
    text-transform: uppercase
    padding: to-rem(15px) to-rem(20px)
    position: relative
    z-index: 0
    cursor: pointer
    +transition(color 600ms $transition-ease)
    +sm-screen
        padding: to-rem(15px) to-rem(30px)
    +md-screen
        padding: to-rem(18px) to-rem(48px)
        font-size: 18px
    +lg-screen
        font-size: $text-display-tiny
    &::before
        content: ''
        width: 100%
        height: 0
        position: absolute
        left: 0
        top: 0
        opacity: 0
        background: color(neutral)
        z-index: -1
        +transition(all 600ms $transition-ease)
    &:hover
        color: color(white)
        &::before
            opacity: 1
            height: 100%
    &.white
        color: color(white)
        border-color: color(white)
        &::before
            background: color(white)
        &:hover
            color: color(neutral)
    &.primary
        color: color(primary)
        border-color: color(primary)
        &.solid
            border: none
            background: color(primary)
            color: color(white)