.buy-sell
    .row
        margin-left: 0
        margin-right: 0
        .image-col
            padding: 0
            order: 1
            +md-screen
                order: 0
            img
                display: block
                width: 100%
                object-fit: cover
                object-position: 50% 50%
                height: 400px
                +md-screen
                    height: 445px
        .info-col
            order: 0
            background: rgba(color(primary), 0.1)
            display: flex
            align-items: center
            justify-content: center
            padding: spacing(loose)
            +sm-screen
                padding: spacing(x-loose) spacing(loose)
            +md-screen
                order: 1
            +xl-screen
                padding: 0
                justify-content: normal
            .content
                flex: none
                width: 100%
                +md-screen
                    max-width: 460px
                +lg-screen
                    margin-left: 0
                +xl-screen
                    margin-left: 65px
            .section-title
                margin-top: 0
                text-align: left
                margin-bottom: spacing(loose)
                &:after
                    margin-left: 0
                    margin-right: 0
            .description
                font-size: $text-body-display
                line-height: 1.5
                opacity: 0
                +transform(translateY(50%))
                &.animate
                    +animation(section-title-animation, $transition-duration, forwards, $transition-ease, 500ms)
                +md-screen
                    margin: 0 0 spacing(loose)
                +lg-screen
                    margin: 0 0 spacing(x-loose)
            .button
                opacity: 0
                +transform(translateY(50%))
                &.animate
                    +animation(section-title-animation, $transition-duration, forwards, $transition-ease, 1000ms)
    &.orientation-right
        .image-col
            order: 1
        .info-col
            order: 0
            +xl-screen
                justify-content: flex-end
        .info-col
            .content
                margin-left: 0
                +lg-screen
                    margin-right: 0px
                +xl-screen
                    margin-right: 65px