.contact
    position: relative
    z-index: 0
    padding: spacing(x-loose) 0
    +lg-screen
        padding: spacing(xx-loose) 0
    .background
        position: absolute
        bottom: 0
        left: 0
        width: 100%
        height: 984px
        object-fit: cover
        object-position: 50% 50%
        z-index: -1
    .contact-details
        width: 100%
        max-width: 707px
        display: flex
        align-items: flex-start
        justify-content: space-between
        margin: auto
        margin-top: spacing(x-loose)
        +sm-screen
            margin-top: spacing(xx-loose)
        .contact-detail-item
            text-align: center
            &:nth-child(1)
                opacity: 0
                +transform(translateY(50%))
                &.animate
                    +animation(section-title-animation, $transition-duration, forwards, $transition-ease)
            &:nth-child(2)
                opacity: 0
                +transform(translateY(50%))
                &.animate
                    +animation(section-title-animation, $transition-duration, forwards, $transition-ease, 500ms)
            &:nth-child(3)
                opacity: 0
                +transform(translateY(50%))
                &.animate
                    +animation(section-title-animation, $transition-duration, forwards, $transition-ease, 1000ms)
            svg
                width: auto
                height: 20px
                +sm-screen
                    height: 33px
            label
                margin-top: spacing(medium)
                margin-bottom: spacing(tight)
                display: block
                text-transform: uppercase
                opacity: 0.5
                font-size: 18px
                +sm-screen
                    font-size: $text-display-tiny
            a
                text-decoration: none
                color: color(neutral)
                text-transform: uppercase
                font-size: 18px
                +sm-screen
                    font-size: $text-display-tiny
    form
        margin-top: spacing(x-loose)
        +sm-screen
            margin-top: spacing(xx-loose)
        .section-title
            &:after
                display: none
