.featured-homes
    padding-bottom: spacing(x-loose)
    .slick-dots
        list-style: none
        padding: 0
        margin: 0
        display: flex
        align-items: center
        justify-content: center
        li
            padding: 0 spacing(x-tight)
            button
                font-size: 0
                width: 16px
                height: 16px
                border-radius: 50%
                background: none
                border: solid 2px color(primary)
            &.slick-active
                button
                    background: color(primary)