footer
    padding-top: 55px
    background: color(primary)
    .row
        +md-screen
            align-items: flex-start !important
        +lg-screen
            align-items: center !important
    #logo
        font-size: 32px
        text-transform: uppercase
        color: color(white)
        display: block
        margin-bottom: spacing(tight)
    .footer-col
        text-align: center
        &:not(:last-child)
            margin-bottom: spacing(loose)
        & .social
            justify-content: center
        +sm-screen
            text-align: left
    .social
        display: flex
        align-items: center
        +sm-screen
            justify-content: flex-start !important
        a
            display: inline-block
            &:not(:last-child)
                margin-right: spacing()
    .footer-menu
        list-style: none
        padding: 0
        margin: 0
        li
            &:not(:last-child)
                margin-bottom: spacing(tight)
            a
                color: color(white)
                text-decoration: none
                font-size: 18px
    .office
        display: flex
        text-align: right
        align-items: center
        flex-wrap: wrap
        .info
            text-align: center
            flex: none
            width: 100%
            margin-bottom: spacing(loose)
            margin-top: spacing(loose)
            +md-screen
                width: auto
                padding-right: spacing(medium)
                text-align: left
                margin-bottom: spacing()
            +lg-screen
                text-align: right
            h4
                margin: 0
                margin-bottom: spacing(medium)
                text-transform: uppercase
                color: color(white)
                font-size: 20px
                font-family: $font-family-highlight
            p, a
                margin: 0
                font-size: 18px
                color: color(white)
            p
                line-height: 1.5
        .map
            width: 100%
            +md-screen
                width: auto
            iframe
                width: 100%
                height: 136px
                +md-screen
                    width: 181px
    .rights
        border-top: solid 1px color(white)
        margin-top: spacing(loose)
        padding: spacing() 0
        +sm-screen
            margin-top: spacing(x-loose)
            padding: spacing(loose) 0
        p
            margin: 0
            text-align: center
            color: color(white)