$main-banner-height: 835px
$main-banner-title-label-font-size: $text-display-extra-small
$main-banner-title-font-size: $text-display-x-large
$main-banner-title-font-family: $font-family-highlight

#main-banner
    background: url('../img/intro-bg.png') no-repeat bottom center
    background-size: cover
    position: relative
    height: 736px
    +sm-screen
        height: 540px
    +md-screen
        height: $main-banner-height
    +responsive(1400px)
        height: 1178px
    .container
        height: 100%
        position: relative
        .content-container
            height: 100%
            display: flex
            align-items: center
            justify-content: center
        .content
            text-align: center
            margin-top: -#{spacing(x-loose)}
            h1
                margin: 0
                color: color(white)
                font-weight: 300
                font-family: $main-banner-title-font-family
                text-transform: uppercase
                font-size: 48px
                margin-bottom: spacing()
                opacity: 0
                +animation(main-banner-title-animation, $transition-duration, forwards, $transition-ease, 500ms)
                +md-screen
                    margin-bottom: spacing(loose)
                    font-size: $main-banner-title-font-size
                span
                    display: block
                    font-weight: 400
                    font-family: $font-family
                    letter-spacing: 1.5px
                    font-size: 18px
                    margin-bottom: spacing()
                    +md-screen
                        margin-bottom: spacing(loose)
                        font-size: $main-banner-title-label-font-size
                strong
                    display: block
                    font-weight: 700
            .button
                opacity: 0
                +animation(main-banner-button-animation, $transition-duration, forwards, $transition-ease, 1000ms)

+keyframes(main-banner-title-animation)
    to
        opacity: 1
+keyframes(main-banner-button-animation)
    to
        opacity: 1