.property
    padding: 0 8px spacing(loose)
    opacity: 0
    +transform(translateY(50%))
    &.animate
        +animation(section-title-animation, $transition-duration, forwards, $transition-ease)
    .property-card
        +box-shadow(0 0 45px rgba(color(neutral), 0.1))
        text-align: center
        .property-card-image
            img
                display: block
                width: 100%
                height: 219px
                object-fit: cover
                object-position: 50% 50%
        .property-card-body
            padding: spacing(medium)
            background: color(white)
            .address, .price
                margin: 0
            .address
                font-size: $text-body-display
                font-weight: 400
                margin-bottom: spacing(tight)
            .price
                font-size: $text-display-small
                font-weight: 700
                margin-bottom: spacing(tight)
            .details
                display: flex
                align-items: center
                justify-content: center
                .detail-item
                    flex: none
                    width: auto
                    display: flex
                    align-items: center
                    justify-content: center
                    &:not(:last-child)
                        margin-right: spacing(medium)
                    .icon
                        flex: none
                        width: 20px
                        height: auto
                        margin-right: spacing()
                    span
                        flex: none
                        font-size: $text-display-extra-small
                        font-weight: 700
            a
                color: color(primary)
                font-size: $text-body-display
                font-family: $font-family-highlight
                font-weight: 600
                margin-top: spacing(medium)
                display: inline-block