section
    .section-title
        text-align: center
        text-transform: uppercase
        font-family: $font-family-highlight
        font-weight: 400
        margin-bottom: spacing(x-loose)
        font-size: 25px
        opacity: 0
        +transform(translateY(50%))
        +sm-screen
            font-size: $text-display-medium
        &::after
            content: ''
            display: block
            width: 76px
            height: 6px
            background: color(primary)
            margin: spacing() auto 0
            +transform(translateY(115%))
            opacity: 0
            +sm-screen
                margin: spacing(loose) auto 0
        strong
            font-weight: 700
        .label
            display: block
            font-size: 21px
            font-weight: 400
            letter-spacing: 1px
            margin-bottom: spacing(tight)
            opacity: $color-opacity-05
            font-size: 14px
            +transform(translateY(100%))
            opacity: 0
            +sm-screen
                margin-bottom: spacing(medium)
                font-family: $font-family
        &.animate
            +animation(section-title-animation, $transition-duration, forwards, $transition-ease)
            &::after
                +animation(section-title-animation, $transition-duration, forwards, $transition-ease, 1000ms)
            .label
                +animation(section-title-animation, $transition-duration, forwards, $transition-ease, 1000ms)
+keyframes(section-title-animation)
    to
        opacity: 1
        +transform(translateY(0))