<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(href="http://localhost:8080/css/index.css" rel="stylesheet")
    body
        main
            include home/navbar.pug
            include home/main-banner.pug
            include home/featured-homes.pug
            include home/about.pug
            include home/testimonials.pug
            include home/buy-sell.pug
            include home/contact.pug
            include home/gallery.pug
            include home/footer.pug
        script(src="http://localhost:8080/js/index.js")