section.about
    .container
        .row.align-items-end
            .col-12.col-md-6.agent-image-col
                img.spy(src="img/agent.png")
            .col-12.col-md-6
                .info
                    .info-heading
                        h2.spy
                            strong Alden 
                            | Casas
                        p.license.spy
                            | LICENSED REALTOR® (# 0.547777)
                    p.spy
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
                        | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
                        | quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo 
                        | consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse 
                        | cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non 
                        | proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    a.spy.button.white(href="#") Contact me