section.buy-sell.buy
    .row
        .col-12.col-md-6.image-col
            img(src="img/purchase.png")
        .col-12.col-md-6.info-col
            .content
                h2.section-title.spy
                    strong Purchase
                    br
                    | a home
                p.description.spy
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
                    | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
                    | quis nostrud exercitation ullamco laboris
                a.button.spy(href="#") Get started
section.buy-sell.buy.orientation-right
    .row
        .col-12.col-md-6.image-col
            img(src="img/sell.png")
        .col-12.col-md-6.info-col
            .content
                h2.section-title.spy
                    strong List
                    br
                    | a home
                p.description.spy
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
                    | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
                    | quis nostrud exercitation ullamco laboris
                a.button.spy(href="#") Get a free home estimate