section.contact
    img.background(src="img/contact-bg.png")
    .container
        h2.section-title.spy
            span.label I am available
            strong Contact me
            | Today
        .contact-details
            .contact-detail-item.spy
                svg(xmlns='http://www.w3.org/2000/svg', width='28.265', height='28.265', viewbox='0 0 28.265 28.265')
                    path#phone-solid(d='M27.228,1.348,21.487.023A1.333,1.333,0,0,0,19.968.79l-2.65,6.183A1.322,1.322,0,0,0,17.7,8.519l3.345,2.738a20.459,20.459,0,0,1-9.782,9.782L8.525,17.694a1.323,1.323,0,0,0-1.546-.381L.8,19.963a1.341,1.341,0,0,0-.773,1.524l1.325,5.741A1.324,1.324,0,0,0,2.64,28.254,25.612,25.612,0,0,0,28.255,2.64,1.323,1.323,0,0,0,27.228,1.348Z', transform='translate(0.01 0.011)')
                label Direct phone #
                a(href="tel:7021234567") 702-123-4567
            .contact-detail-item.spy
                svg(xmlns='http://www.w3.org/2000/svg', width='31.5', height='23.625', viewbox='0 0 31.5 23.625')
                    path#envelope-regular(d='M28.547,64H2.953A2.953,2.953,0,0,0,0,66.953V84.672a2.953,2.953,0,0,0,2.953,2.953H28.547A2.953,2.953,0,0,0,31.5,84.672V66.953A2.953,2.953,0,0,0,28.547,64Zm0,2.953v2.51c-1.379,1.123-3.579,2.87-8.28,6.552-1.036.815-3.089,2.773-4.517,2.75-1.428.023-3.481-1.935-4.517-2.75-4.7-3.681-6.9-5.428-8.28-6.552v-2.51ZM2.953,84.672V73.253c1.41,1.123,3.409,2.7,6.456,5.085,1.345,1.059,3.7,3.4,6.341,3.381,2.628.014,4.953-2.289,6.34-3.381,3.047-2.386,5.047-3.962,6.457-5.085V84.672Z', transform='translate(0 -64)')
                label Email me
                a(href="mailto:email@email.com") EMAIL@MAIL.COM
            .contact-detail-item.spy
                svg(xmlns='http://www.w3.org/2000/svg', width='25.259', height='33.678', viewbox='0 0 25.259 33.678')
                    path#map-marker-alt-solid(d='M11.331,33C1.774,19.143,0,17.721,0,12.629a12.629,12.629,0,0,1,25.259,0c0,5.092-1.774,6.514-11.331,20.369a1.579,1.579,0,0,1-2.6,0Zm1.3-15.107a5.262,5.262,0,1,0-5.262-5.262A5.262,5.262,0,0,0,12.629,17.892Z')
                label Office
                a Realty office
        form
            h2.section-title
                span.label Schedule a free
                strong Home consultation
            .content-fields
                .row
                    .col-12.col-md-6.input-field
                        input(type="text" placeholder="Name" required)
                    .col-12.col-md-6.input-field
                        input(type="email" placeholder="Email" required)
                    .col-12.col-md-6.input-field
                        input(type="phone" placeholder="Phone" required)
                    .col-12.col-md-6.input-field
                        input(type="text" placeholder="Subject" required)
                    .col-12.input-field
                        textarea(rows="6" placeholder="Message" required)
                    .col-12.submit
                        button.button.primary.solid(type="submit") Submit