section.featured-homes
    .container
        h2.section-title.spy
            span.label
                | Las vegas, Henderson, Summerlin + More
            strong Featured 
            | Homes for sale
        .property-cards-carousel-container
            .property-cards-carousel
                include property-card.pug
                include property-card.pug
                include property-card.pug
