footer
    .container
        .row.align-items-center.justify-content-between
            .col-12.col-sm-auto.col-md-4.col-lg-auto.footer-col
                span#logo
                    strong Alden 
                    | Casas
                .social
                    a(href="#")
                        svg(xmlns='http://www.w3.org/2000/svg', width='18.601', height='18.602', viewbox='0 0 18.601 18.602')
                            path#facebook-square-brands(d='M16.608,32H1.993A1.993,1.993,0,0,0,0,33.993V48.608A1.993,1.993,0,0,0,1.993,50.6h5.7V44.277H5.076V41.3H7.692V39.032a3.633,3.633,0,0,1,3.889-4.006,15.847,15.847,0,0,1,2.305.2V37.76h-1.3a1.488,1.488,0,0,0-1.678,1.608V41.3h2.856l-.457,2.977h-2.4V50.6h5.7A1.993,1.993,0,0,0,18.6,48.608V33.993A1.993,1.993,0,0,0,16.608,32Z', transform='translate(0 -32)', fill='#fff')
                    a(href="#")
                        svg(xmlns='http://www.w3.org/2000/svg', width='18.71', height='18.706', viewbox='0 0 18.71 18.706')
                            path#instagram-brands(d='M9.282,36.382a4.8,4.8,0,1,0,4.8,4.8A4.788,4.788,0,0,0,9.282,36.382Zm0,7.914A3.118,3.118,0,1,1,12.4,41.178,3.124,3.124,0,0,1,9.282,44.3Zm6.111-8.11a1.119,1.119,0,1,1-1.119-1.119A1.116,1.116,0,0,1,15.393,36.186Zm3.176,1.135A5.536,5.536,0,0,0,17.058,33.4a5.572,5.572,0,0,0-3.919-1.511c-1.544-.088-6.173-.088-7.718,0A5.564,5.564,0,0,0,1.5,33.4,5.554,5.554,0,0,0-.009,37.317c-.088,1.544-.088,6.173,0,7.718A5.536,5.536,0,0,0,1.5,48.954a5.579,5.579,0,0,0,3.919,1.511c1.544.088,6.173.088,7.718,0a5.536,5.536,0,0,0,3.919-1.511,5.572,5.572,0,0,0,1.511-3.919c.088-1.544.088-6.169,0-7.714Zm-2,9.371A3.157,3.157,0,0,1,14.8,48.47c-1.231.488-4.153.376-5.514.376S5,48.954,3.768,48.47A3.157,3.157,0,0,1,1.99,46.692c-.488-1.231-.376-4.153-.376-5.514s-.109-4.287.376-5.514a3.157,3.157,0,0,1,1.778-1.778C5,33.4,7.921,33.51,9.282,33.51s4.287-.109,5.514.376a3.157,3.157,0,0,1,1.778,1.778c.488,1.231.376,4.153.376,5.514S17.063,45.465,16.574,46.692Z', transform='translate(0.075 -31.825)', fill='#fff')
                    a(href="#")
                        svg(xmlns='http://www.w3.org/2000/svg', width='25.937', height='18.237', viewbox='0 0 25.937 18.237')
                            path#youtube-brands(d='M40.328,66.853a3.259,3.259,0,0,0-2.293-2.308C36.012,64,27.9,64,27.9,64s-8.111,0-10.133.545a3.259,3.259,0,0,0-2.293,2.308,36.694,36.694,0,0,0,0,12.567,3.21,3.21,0,0,0,2.293,2.271c2.023.545,10.133.545,10.133.545s8.111,0,10.133-.545a3.21,3.21,0,0,0,2.293-2.271,36.695,36.695,0,0,0,0-12.567ZM25.249,76.993V69.28l6.779,3.857Z', transform='translate(-14.933 -64)', fill='#fff')
                    a(href="#")
                        svg(xmlns='http://www.w3.org/2000/svg', width='17.979', height='17.979', viewbox='0 0 17.979 17.979')
                            path#linkedin-in-brands(d='M4.024,17.989H.3v-12H4.024ZM2.159,4.348A2.169,2.169,0,1,1,4.317,2.169,2.177,2.177,0,0,1,2.159,4.348ZM17.975,17.989H14.256V12.146c0-1.393-.028-3.179-1.938-3.179-1.938,0-2.235,1.513-2.235,3.078v5.944H6.359v-12H9.934V7.623h.052a3.917,3.917,0,0,1,3.527-1.938c3.772,0,4.466,2.484,4.466,5.711v6.594Z', transform='translate(0 -0.01)', fill='#fff')
            .col-12.col-sm-auto.col-md-4.col-lg-auto.footer-col
                ul.footer-menu
                    li
                        a(href="#") About Alden
                    li
                        a(href="#") Search Homes
                    li
                        a(href="#") Buy or Sell
                    li
                        a(href="#") Contact Me
            .col-12.col-sm-12.col-md-4.col-lg-auto
                .office
                    .info
                        h4 Realty office
                        p
                            | 123 Street
                            br 
                            | City, State 89077
                            br
                        a(href="#") Get Directions
                    .map
                        iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d618.5877136484037!2d-115.06504194290683!3d36.00993231027755!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c8d18c0153dc47%3A0xf6147955797ccfb2!2sSimply%20Vegas%20Green%20Valley!5e0!3m2!1ses!2smx!4v1599030588113!5m2!1ses!2smx', width='600', height='450', frameborder='0', style='border:0;', allowfullscreen='', aria-hidden='false', tabindex='0')
            .col-12.rights
                p
                    | Ⓒ No Rights Reserved - Project Brief