section.gallery
    .gallery-container-carousel
        .gallery-item
            img(src="img/homes1.png")
        .gallery-item
            img(src="img/homes2.png")
        .gallery-item
            img(src="img/homes3.png")
        .gallery-item
            img(src="img/homes4.png")
        .gallery-item
            img(src="img/homes5.png")