section#main-banner
    .container
        .content-container
            .content
                h1
                    span
                        | Greater las vegas real state
                    | Find your
                    strong Dream Home
                a.button.white(href="#") Contact me