nav
    .container
        .row.align-items-center.justify-content-between
            .col-auto
                span#logo
                    strong Alden 
                    | Casas
            .col-auto
                button.menu-button
                    span
                    span
                    span
                .menu
                    ul
                        li
                            a(href="#") About Alden
                        li
                            a(href="#") Buy or Sell
                        li
                            a(href="#") Contact me