.property.spy
    .property-card
        .property-card-image
            img(src="img/ft-homes1.png")
        .property-card-body
            h6.address
                | 123 MAIN ST. LAS VEGAS, NV 89147
            h5.price $800,150
            .details
                .detail-item
                    svg.icon(xmlns='http://www.w3.org/2000/svg', width='25.491', height='15.295', viewbox='0 0 25.491 15.295')
                        path#bed-solid(d='M7.01,71.647a3.186,3.186,0,1,0-3.186-3.186A3.19,3.19,0,0,0,7.01,71.647Zm14.02-5.1H12.108a.637.637,0,0,0-.637.637v5.735H2.549V64.637A.637.637,0,0,0,1.912,64H.637A.637.637,0,0,0,0,64.637v14.02a.637.637,0,0,0,.637.637H1.912a.637.637,0,0,0,.637-.637V76.745H22.942v1.912a.637.637,0,0,0,.637.637h1.275a.637.637,0,0,0,.637-.637V71.01A4.461,4.461,0,0,0,21.03,66.549Z', transform='translate(0 -64)')
                    span 4
                .detail-item
                    svg.icon(xmlns='http://www.w3.org/2000/svg', width='19', height='19', viewbox='0 0 19 19')
                        path#bath-solid(d='M1.187,14.242A3.54,3.54,0,0,0,2.375,16.88V18.4a.594.594,0,0,0,.594.594H4.156A.594.594,0,0,0,4.75,18.4V17.8h9.5V18.4a.594.594,0,0,0,.594.594h1.187a.594.594,0,0,0,.594-.594V16.88a3.54,3.54,0,0,0,1.187-2.638V12.461H1.187Zm17.218-4.75H2.969V2.562a.789.789,0,0,1,1.346-.557l.715.715a2.838,2.838,0,0,0,.32,2.959l-.006.006a.594.594,0,0,0,0,.838l.42.42a.594.594,0,0,0,.84,0l3.91-3.91a.594.594,0,0,0,0-.84l-.42-.42a.594.594,0,0,0-.839,0l-.006.006a2.838,2.838,0,0,0-2.959-.32L5.574.745A2.57,2.57,0,0,0,1.187,2.562v6.93H.594A.594.594,0,0,0,0,10.086v.594a.594.594,0,0,0,.594.594H18.406A.594.594,0,0,0,19,10.68v-.594A.594.594,0,0,0,18.406,9.492Z', transform='translate(0 0.008)')
                    span 3
                .detail-item
                    svg.icon(xmlns='http://www.w3.org/2000/svg', width='23.784', height='18.495', viewbox='0 0 23.784 18.495')
                        path#home-solid(d='M11.561,36.848l-7.612,6.27v6.767a.661.661,0,0,0,.661.661l4.627-.012a.661.661,0,0,0,.657-.661V45.921a.661.661,0,0,1,.661-.661H13.2a.661.661,0,0,1,.661.661V49.87a.661.661,0,0,0,.661.663l4.625.013a.661.661,0,0,0,.661-.661V43.113l-7.611-6.265a.5.5,0,0,0-.632,0ZM23.586,41.11l-3.452-2.845V32.545a.5.5,0,0,0-.5-.5H17.327a.5.5,0,0,0-.5.5v3l-3.7-3.041a1.982,1.982,0,0,0-2.519,0L.165,41.11a.5.5,0,0,0-.066.7l1.053,1.28a.5.5,0,0,0,.7.067l9.712-8a.5.5,0,0,1,.632,0l9.712,8a.5.5,0,0,0,.7-.066l1.053-1.28a.5.5,0,0,0-.07-.7Z', transform='translate(0.015 -32.05)')
                    span 2,504 SqFt
            a(href="#") Schedule a Showing