.testimonial
    .rating
        svg(xmlns='http://www.w3.org/2000/svg', width='16.415', height='15.503', viewbox='0 0 16.415 15.503')
            path#lnr-star(d='M14.223,17.5a.453.453,0,0,1-.218-.056l-4.8-2.616-4.8,2.616a.456.456,0,0,1-.668-.476l.874-5.24L1.134,8.25a.456.456,0,0,1,.247-.772L6.624,6.6,8.8,2.252a.456.456,0,0,1,.815,0L11.791,6.6l5.243.874a.456.456,0,0,1,.247.772L13.8,11.732l.874,5.24a.456.456,0,0,1-.45.532ZM9.208,13.856a.451.451,0,0,1,.218.056L13.62,16.2l-.758-4.548a.453.453,0,0,1,.128-.4l3.021-3.021-4.6-.766a.456.456,0,0,1-.333-.246L9.208,3.475,7.335,7.219A.459.459,0,0,1,7,7.465l-4.6.766,3.021,3.021a.458.458,0,0,1,.128.4L4.8,16.2,8.99,13.911a.453.453,0,0,1,.218-.056Z', transform='translate(-1 -2)')
        svg(xmlns='http://www.w3.org/2000/svg', width='16.415', height='15.503', viewbox='0 0 16.415 15.503')
            path#lnr-star(d='M14.223,17.5a.453.453,0,0,1-.218-.056l-4.8-2.616-4.8,2.616a.456.456,0,0,1-.668-.476l.874-5.24L1.134,8.25a.456.456,0,0,1,.247-.772L6.624,6.6,8.8,2.252a.456.456,0,0,1,.815,0L11.791,6.6l5.243.874a.456.456,0,0,1,.247.772L13.8,11.732l.874,5.24a.456.456,0,0,1-.45.532ZM9.208,13.856a.451.451,0,0,1,.218.056L13.62,16.2l-.758-4.548a.453.453,0,0,1,.128-.4l3.021-3.021-4.6-.766a.456.456,0,0,1-.333-.246L9.208,3.475,7.335,7.219A.459.459,0,0,1,7,7.465l-4.6.766,3.021,3.021a.458.458,0,0,1,.128.4L4.8,16.2,8.99,13.911a.453.453,0,0,1,.218-.056Z', transform='translate(-1 -2)')
        svg(xmlns='http://www.w3.org/2000/svg', width='16.415', height='15.503', viewbox='0 0 16.415 15.503')
            path#lnr-star(d='M14.223,17.5a.453.453,0,0,1-.218-.056l-4.8-2.616-4.8,2.616a.456.456,0,0,1-.668-.476l.874-5.24L1.134,8.25a.456.456,0,0,1,.247-.772L6.624,6.6,8.8,2.252a.456.456,0,0,1,.815,0L11.791,6.6l5.243.874a.456.456,0,0,1,.247.772L13.8,11.732l.874,5.24a.456.456,0,0,1-.45.532ZM9.208,13.856a.451.451,0,0,1,.218.056L13.62,16.2l-.758-4.548a.453.453,0,0,1,.128-.4l3.021-3.021-4.6-.766a.456.456,0,0,1-.333-.246L9.208,3.475,7.335,7.219A.459.459,0,0,1,7,7.465l-4.6.766,3.021,3.021a.458.458,0,0,1,.128.4L4.8,16.2,8.99,13.911a.453.453,0,0,1,.218-.056Z', transform='translate(-1 -2)')
        svg(xmlns='http://www.w3.org/2000/svg', width='16.415', height='15.503', viewbox='0 0 16.415 15.503')
            path#lnr-star(d='M14.223,17.5a.453.453,0,0,1-.218-.056l-4.8-2.616-4.8,2.616a.456.456,0,0,1-.668-.476l.874-5.24L1.134,8.25a.456.456,0,0,1,.247-.772L6.624,6.6,8.8,2.252a.456.456,0,0,1,.815,0L11.791,6.6l5.243.874a.456.456,0,0,1,.247.772L13.8,11.732l.874,5.24a.456.456,0,0,1-.45.532ZM9.208,13.856a.451.451,0,0,1,.218.056L13.62,16.2l-.758-4.548a.453.453,0,0,1,.128-.4l3.021-3.021-4.6-.766a.456.456,0,0,1-.333-.246L9.208,3.475,7.335,7.219A.459.459,0,0,1,7,7.465l-4.6.766,3.021,3.021a.458.458,0,0,1,.128.4L4.8,16.2,8.99,13.911a.453.453,0,0,1,.218-.056Z', transform='translate(-1 -2)')
        svg(xmlns='http://www.w3.org/2000/svg', width='16.415', height='15.503', viewbox='0 0 16.415 15.503')
            path#lnr-star(d='M14.223,17.5a.453.453,0,0,1-.218-.056l-4.8-2.616-4.8,2.616a.456.456,0,0,1-.668-.476l.874-5.24L1.134,8.25a.456.456,0,0,1,.247-.772L6.624,6.6,8.8,2.252a.456.456,0,0,1,.815,0L11.791,6.6l5.243.874a.456.456,0,0,1,.247.772L13.8,11.732l.874,5.24a.456.456,0,0,1-.45.532ZM9.208,13.856a.451.451,0,0,1,.218.056L13.62,16.2l-.758-4.548a.453.453,0,0,1,.128-.4l3.021-3.021-4.6-.766a.456.456,0,0,1-.333-.246L9.208,3.475,7.335,7.219A.459.459,0,0,1,7,7.465l-4.6.766,3.021,3.021a.458.458,0,0,1,.128.4L4.8,16.2,8.99,13.911a.453.453,0,0,1,.218-.056Z', transform='translate(-1 -2)')
    p.testimonial-description
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
        | eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim 
        | ad minim veniam.
    span.testimonial-author - First Last