section.testimonials
    .container
        h2.spy.section-title
            span.label Client
            strong Testimonials
        .testimonials-carousel-container.spy
            button.testimonials-carousel-button.nav-left
                svg(xmlns='http://www.w3.org/2000/svg', width='17.546', height='33.339', viewbox='0 0 17.546 33.339')
                    path#lnr-chevron-left(d='M21.169,34.339a.876.876,0,0,0,.621-1.5L6.619,17.67,21.791,2.5A.877.877,0,0,0,20.55,1.258L4.757,17.051a.878.878,0,0,0,0,1.241L20.55,34.084a.874.874,0,0,0,.621.256Z', transform='translate(-4.501 -1.002)')
            button.testimonials-carousel-button.nav-right
                svg(xmlns='http://www.w3.org/2000/svg', width='17.546', height='33.339', viewbox='0 0 17.546 33.339')
                    path#lnr-chevron-right(d='M21.169,34.339a.876.876,0,0,0,.621-1.5L6.619,17.67,21.791,2.5A.877.877,0,0,0,20.55,1.258L4.757,17.051a.878.878,0,0,0,0,1.241L20.55,34.084a.874.874,0,0,0,.621.256Z', transform='translate(22.047 34.34) rotate(180)')
            .testimonials-carousel
                include testimonial.pug
                include testimonial.pug
                include testimonial.pug
                include testimonial.pug
