=prefix($declarations, $prefixes: ()) 
	@each $property, $value in $declarations 
    	@each $prefix in $prefixes 
      		#{'-' + $prefix + '-' + $property}: $value
    	#{$property}: $value
    
=border-box
    +prefix((box-sizing: border-box), webkit moz)

=transform($properties...)
	+prefix((transform: $properties), webkit moz)

=transition($properties...)
	+prefix((transition: $properties), webkit moz)

=box-shadow($properties...)
	+prefix((box-shadow: $properties), webkit moz)

=filter($properties...)
	+prefix((filter: $properties), webkit)

=animation($name, $duration, $fill-mode: forwards, $ease: ease-out, $delay: 0s)
	+prefix((animation-name: $name), webkit moz)
	+prefix((animation-duration: $duration), webkit moz)
	+prefix((animation-fill-mode: $fill-mode), webkit moz)
	+prefix((animation-timing-function: $ease), webkit moz)
	+prefix((animation-delay: $delay), webkit moz)

=keyframes($name)
	@-webkit-keyframes #{$name}
		@content
	@-moz-keyframes #{$name}
		@content
	@-ms-keyframes #{$name}
		@content
	@keyframes #{$name}
		@content

=placeholder
    &::-webkit-input-placeholder
        @content

    &:-moz-placeholder
        @content

    &::-moz-placeholder
        @content

    &:-ms-input-placeholder
        @content
    
=linear-gradient($degrees, $colors...)
    background: -moz-linear-gradient(-90deg, $colors)
    background: -webkit-linear-gradient(-90deg, $colors)
    background: linear-gradient(-90deg, $colors)

=backdrop-filter($property)
	+prefix((backdrop-filter: $property), webkit)

=blur-background($color, $opacity, $intensity)
	+backdrop-filter(blur($intensity))
	background-color: rgba($color, $opacity)

=background-image-setup
	background-repeat: no-repeat
	background-size: cover
	background-position: center

=none-appearance
	+prefix((appearance: none), moz webkit)

=responsive($size)
    @media only screen and (min-width: $size)
        @content

=sm-screen
    +responsive($screen-small)
        @content

=md-screen
    +responsive($screen-medium)
        @content

=lg-screen
    +responsive($screen-large)
        @content

=xl-screen
    +responsive($screen-extra-large)
        @content